/*Reset do CSS */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

  :root {
    --header-height: 3rem;
    
    /*=============== COLORS ===============*/
    --hue-color: 359;
    --container-color: #fff;
    --title-color: hsl(0, 6%, 7%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 93%, 45%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*=============== FONTS ===============*/
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --normal-font-size: 0.938rem;

    /*============= FONTS WEIGTH =============*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 800;
    
    /*=============== BOTTOM MARGINS ===============*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    --mb-4-5: 4.5rem;
    --mb-15: 15rem;
    --mb-31: 31rem;

    /*=============== BOTTOM PADDINGS ===============*/
    --pd-0-25: 0.25rem;
    --pd-0-5: 0.5rem;
    --pd-0-75: 0.75rem;
    --pd-1: 1rem;
    --pd-1-2: 1.2rem;
    --pd-1-5: 1.5rem;
    --pd-2: 2rem;
    --pd-2-5: 2.5rem;
    --pd-3: 3rem;
    --pd-4: 4rem;

    /*=============== Z INDEX ===============*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }

  /*=============== BUTTON DARK/LIGHT ===============*/
.nav-btns {
  display: flex;
  align-items: center;
}

.change-theme {
  cursor: pointer;
  font-size: 1.25rem;
  color: var(--container-color);
  margin-right: var(--mb-1);
}
  
.change-theme:hover {
  color: var(--first-color);
}

  html {
    scroll-behavior: smooth;
  }

  body{
    background-size: cover;
    background-repeat: repeat;
    background-image: url(../img/body-background.jpg); 
  } 

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 0.5rem;
  background-color: var(--text-color-light);
}

/*=============== GLOBAL CLASSES ===============*/
h2,
h3,
h4 {
  color: var(--title-color);
  font-size: var(--font-semi-bold);
}

.container {
  max-width: 1080px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.center-object {
  margin-left: auto;
  margin-right: auto;
}

.header {
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  position: fixed;
  border-color: #000;
  z-index: var(--z-fixed);
  border-bottom: 4px solid;
  background-color: var(--body-color);
}

.grid {
  display: grid;
  gap: 1.5rem;
}
/*=============== MENU ===============*/
.nav {
  display: flex;
  max-width: 968px;
  align-items: center;
  max-height: var(--header-height);
  justify-content: space-between;
}

.nav-logo {
  width: 95px;
  min-height: 30px;
  margin-left: 15px;
  margin-top: -5px;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/header-logo.png); 
}

.nav-logo:hover {
  color: var(--first-color);
}

.nav-toggle {
  cursor: pointer;
  font-size: 1.1em;
  color: var(--container-color);
  font-weight: var(--font-medium);
}

.nav-toggle:hover {
  color: var(--first-color-lighter);
}

.nav-list {
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.nav-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--container-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.nav-link:hover {
  color: var(--first-color);
}

.nav-icon {
  font-size: 1.2rem;
}

.nav-close {
  right: 1.3rem;
  cursor: pointer;
  bottom: 1.2rem;
  font-size: var(--big-font-size);
  position: absolute;
  color: var(--container-color);
}

.nav-close:hover {
  color: var(--first-color-alt);
}

.show-menu {
  bottom: 0;
}

/*=============== LEFT BANNER SECTION ===============*/
.container-banner {
  width: 100%;
  height: auto;
  padding-top: 50px;
  background-color: #000000;
}

#left-banner {
  width: 76%;
  height: 85em;
  float: left;
}

.container-background {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/left-banner-background.jpg);
}

.compass-image {
  width: 9em;
  min-height: 10em;
  margin-bottom: var(--mb-31);
}

.mario-image {
  width: 45em;
  max-height: 40em;
  margin-top: 3em;
  margin-left: 6em;
}

.odyssey-image {
  width: 40em;
  height: 23em;
  margin-left: 28em;
  margin-top: -12.5em;
}

#slider-container {
  width: 100%;
  height: auto;
  object-fit: cover;
  background-size:cover;
  padding: var(--pd-0-75);
  background-repeat: no-repeat;
  background-image: url(../img/cinta%20de%20video.png);

 }

.slider-wrapper {
  width: 100%;
  height: inherit;
  padding-top: 2.9%;
 }

.slider-list {
  height: inherit;
  display: flex;
  overflow-x: auto;
}

.slider-list::-webkit-scrollbar {
  display: none;
}

.slider-item {
  height: inherit;

  margin-left: 8px;
  border-radius: 4px;
  cursor:grab;
}

.slider-video {
  width: 500px;
  height: inherit;
  object-fit: fill;
  border-radius: 4px;
  aspect-ratio: 19 / 9;
}

/*=============== RIGHT BANNER SECTION ===============*/
#right-banner {
  width: 24%;
  height: auto;
  min-height: 85em;
  border-bottom: #000;
  float: right;
  background-size: cover;
  box-shadow: 0px 25px 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/right-banner-background.jpg);
}

/*=============== OFFICIAL SITE INDEX SECTION ===============*/
#section {
  width: 100%;
  height: inherit;
  min-height: 6em;
  overflow-y: hidden;
  border-color: #1c1b1b;
  border-bottom: 4px solid;
}

#content-official-title {
  width: 77.4%;
  height: inherit;
  float: left;
}

#content-official-title h2 {
  color: #d31a1d;
  text-align: left;
  padding-top: 5.8%;
  margin-left: var(--mb-3);
  padding-top: var(--pd-1-2);
  font-weight: var(--font-bold);
  font-size: var(--h2-font-size);
}

#content-official-title p {
  font-weight: 700;
  text-align: left;
  padding-top: var(--pd-0-5);
  margin-left: var(--mb-4-5);
  font-size: var(--normal-font-size);
}

.fireball-image {
  width: 3.3em;
  height: 3.3em;
  top: 7em;
  left: 76.8%;
  position: absolute;
}

.nintendo-switch-image {
  width: 88px;
  height: 5.72em;
  right: 10px;
  position: absolute;
  background-color: #023bc1;
}

.informations {
  width: 100%;
  height: 10em;

  border-bottom: 1px solid #000;
}

.interborder {
  width: 50px;
  height: 9em;
  float: left;
  padding-top: 6%;
  padding-left: 2%;
  writing-mode: vertical-lr;
  transition: transform 450ms;
}

.interborder:hover {
  color: #fff;
  cursor: pointer;
  transform: scale(1.2);
}

.interborder h3 {
  font-size: var(--h3-font-size);
  font-weight: 100;
  color: #d31a1d;
}

.sobreInformations {
  width: 62%;
  height: 8em;
  float: left;
  margin-top: 3.5%;
  border-left: 5px solid;
  border-left-color: #d31a1d;
}

.sobreInformations p {
  padding: 1% 4%;
  font-weight: 700;
  word-spacing: 0px;
  font-size: 0.9em;
  text-align: left;
}

.sobreInformations h1 {
  padding: 2% 4%;
  font-weight: 800;
  font-size: 19.4px;
  text-align: left;
}

.positionImagem {
  width: 23%;
  height: 10em;
  float: left;
}

.positonDiritoImagem {
  width: 90%;
  height: 8em;
  margin-top: 13%;
}

/*Seção Detalhes*/
#instagram {
  width: 100%;
  height: inherit;
  margin-top: 5%;
  padding-top: 8%;
  border-top: 5px solid;
  /* border-color: #a3a469; */
}

#imagemInstagram {
  width: 15%;
  height: 15%;
  margin-left: 5%;
  margin-top: 2%;
  float: left;
}

#instagram h1 {
  width: 80%;
  height: inherit;
  padding: 2% 3%;
  font-size: var(--h1-font-size);
  color: #023bc1;
  float: left;
}

#instagram a {
  font-weight: 600;
  font-size: 1.1em;
  margin-left: 5%;
  color: #d31a1d;
}

#instagram a:hover {
  color: #000;
  cursor: pointer;
}

/*=============== PRODUCT SECTION ===============*/
#container-products {
  width: 100%;
  height: auto;
  clear: both;
}

.products-bg {
  width: 80%;
  height: inherit;
  padding: var(--pd-2-5);
  grid-template-columns: repeat(4, 1fr);
}

.product-card {
  height: auto;
  margin: 2% 1% 2% 1%;
  padding: var(--pd-0-75);
  box-shadow: 30px 30px 30px;
  float: left;
  background-color: #fff;
  transition: transform 450ms;
}

.product-card:hover {
  cursor: pointer;
  transform: scale(1.08);
  box-shadow: 1px 0px 10px #1c1c1c;
}

.product-image-card {
  width: 100%;
  height: 15em;
  border: 1.5px solid;
  border-color: #1c1c1c;
}

.product-content {
  width: 100%;
  height: inherit;
}

.product-content h2 {
  width: 100%;
  height: auto;
  font-size: var(--h2-font-size);
  padding: 1%;
  text-align: left;
  margin-bottom: var(--mb-0-75);
}

.product-content p {
  width: 100%;
  padding: 1%;
  font-weight: var(--font-medium);
  text-align: left;
  color: #343433;
  font-size: var(--normal-font-size);
}

/*=============== NEWSLETTER ===============*/
#newsletter-container {
  width: 100%;
  height: 30em;
  clear: both;
  margin-top: 5%;
  border-top: 10px solid #999;
  border-top-style: dotted;
  background-image: url(../img/newsletter-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#newsletter-container form {
  margin-top: 2%;
}

#newsletter-container input {
  width: 60%;
  height: 5rem;
  padding: 1%;
  margin-left: 8%;
  margin-right: 2%;
  border-radius: 8px;
  border: 1px solid #130400;
  font-size: var(--normal-font-size);
}

#newsletter-container button {
  width: 20%;
  height: 80px;
  padding: 1.5%;
  cursor: pointer;
  color: #130400;
  border-radius: 8px;
  font-size: var(--font-bold);
  font-weight: var(--font-bold);
}

#imagemCadastro {
  width: 22%;
  height: 14em;
  position: relative;
  top: -125px;
  z-index: 2;
}

.newsletter-content {
  width: 100%;
  height: 25em;
  margin-top: -185px;
}

.newsletter-content h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: var(--pd-2);

}

.newsletter-content h3 {
  color: #fff;
  text-align: center;
  font-size: var(--h3-font-size);
}

#dinheiroImagem {
  position: absolute;
  top: 284%;
  left: 84%;
}


/*=============== FOOTER ===============*/
.footer{
  height: 18rem;
}

.footer-bg {
  height: inherit;
  padding: 2.3rem 0 3rem;
  background: linear-gradient(to right, #D3860D, #794C05);
}

.footer-socials {
  justify-self: center;
}

.footer-icons {
  font-size: var(--h1-font-size);
  margin-right: var(--mb-1-5);
  color: rgba(255, 255, 255, 0.7);
}

.footer-icons:hover {
  color: var(--first-color-lighter);
}

.footer-copy {
  text-align: center;
  margin-top: var(--mb-1-5);
  color: var(--container-color);
  margin-bottom: var(--mb-3);
  font-size: var(--normal-font-size);
}

/*=============== SCROLL UP ===============*/
.scroll-up{
  right: 1rem;
  width: 45px;
  height: 60px;
  border: none;
  bottom: -20%;
  position: fixed;
  cursor: pointer;
  transition: 0.4s;
  z-index: var(--z-tooltip);
  background-size: cover;
  margin-bottom: (--mb-0-5);
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(../img/scroll-up.png); 
}

/*=============== Show Scroll ===============*/
.show-scroll {
  bottom: 4rem;
}


 /*=============== MEDIA QUERIES ===============*/
 /*show-menu*/
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu {
    left: 0;
    width: 100%;
    transition: .5s;
    position: fixed;
    bottom: -200%;
    padding: var(--pd-1-5, --pd-4);
    border-radius: 1.5rem 1.5rem 0 0;
    background-color: var(--body-color);
    box-shadow: 0 -1px 4px rgba(0, -0, 0, 0.15);
  }

  .nav-logo {
    margin-top: 9px;
    background-color: #000;
  }

  .nav-toggle,
  .nav-change-theme {
    margin-top: 10px;
  }

  /*=============== LEFT BANNER SECTION ===============*/
  .container-banner {
    padding-top: 0;
  }

  #left-banner {
    width: 100%;
    height: auto;
    clear: both;
  }

  .container-background{
    padding-bottom: 20%;
  }

  .compass-image {
    width: 18%;
    min-height: 10%;
    margin-bottom: 36%;
  }

  .mario-image {
    max-width:70%;
    margin-top: 0;
    margin-left: -4em;
  }

  .odyssey-image {
    width: 59%;
    height: 20%;
    margin-left: 35%;
    margin-top: -19%;
  }

  .slider-wrapper {
    padding-top: 7%;
  }

  .slider-list {
    background-color: #000;
  }

  .slider-item {
    height: inherit;
    margin-left: 6%;
  }

  .slider-video {
    height: 320px;
  }

  /*=============== RIGHT BANNER SECTION ===============*/
  #right-banner {
    width: 100%;
    height: auto;
    min-height: 70em;
    clear: both;
    background-size: cover;
    box-shadow: 0px 25px 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/right-banner-background.jpg);
  }

  /*=============== OFFICIAL SITE INDEX SECTION ===============*/
  #content-official-title {
    width: 100%;
    float: left;
    padding: var(--pd-1-5);
  }

  #content-official-title h2 {
    padding: 0;
    font-size: var(--h1-font-size);
  }

  .fireball-image {
    top: 75px;
    left: 92%;
    position: relative;
  }
    
  /*=============== PRODUCT SECTION ===============*/
  .products-bg {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
 

}

 @media screen and (max-width: 350px) {
  .container {
    margin-right: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav-menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav-list {
    column-gap: 0;
  }
}

/* For Medium devices */
@media screen and (min-width: 568px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

 @media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header,
  .footer-container {
    padding: 0 1rem;
  }

  .nav {
    column-gap: 1rem;
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav-icon,
  .nav-close,
  .nav-toggle {
    display: none;
  }

  .nav-list {
    display: flex;
    column-gap: 2rem;
  }

  .nav-menu {
    margin-left: auto;
  }

  .change-theme {
    margin: 0;
  }

  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-bg {
    padding: 3rem 0 3.5rem;
    background-color: #000;  
  }

  .footer-copy {
    margin-top: 4.5rem;
  }
}

/* For Large Devices */
@media screen and (min-width: 1024px) {
  .header,
  .footer-container {
    padding: 0;
  }
}