/*Reset do CSS */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

  :root {
    --header-height: 3rem;

  /*=============== COLORS ===============*/
  --hue-color: 359;
  
  --container-color: #fff;
  --title-color: hsl(var(--hue-color), 31%, 96%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 93%, 45%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  /*=============== FONTS ===============*/
  --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --normal-font-size: 0.938rem;

   /*============= FONTS Weigth =============*/
   --font-medium: 500;
   --font-semi-bold: 600;
  
  /*=============== BOTTOM MARGINS ===============*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

    /*=============== Z INDEX ===============*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }

  /*=============== BUTTON DARK/LIGHT ===============*/
.nav-btns {
  display: flex;
  align-items: center;
}

.change-theme {
  cursor: pointer;
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
}
  
.change-theme:hover {
  color: var(--first-color);
}

  html {
    scroll-behavior: smooth;
  }

  body{
    background-size: cover;
    background-repeat: repeat;
    background-image: url(../img/body-background.jpg); 
  } 

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 0.5rem;
  background-color: var(--text-color-light);
}

/*=============== GLOBAL CLASSES ===============*/
h2,
h3,
h4 {
  color: var(--title-color);
  font-size: var(--font-semi-bold);
}

.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.header {
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  position: fixed;
  border-color: #000;
  z-index: var(--z-fixed);
  border-bottom: 4px solid;
  background-color: var(--body-color);
}

.grid {
  gap: 1.5rem;
  display: grid;
}
/*=============== MENU ===============*/
.nav {
  display: flex;
  max-width: 968px;
  align-items: center;
  max-height: var(--header-height);
  justify-content: space-between;
}

.nav-logo {
  width: 95px;
  min-height: 30px;
  margin-left: 15px;
  margin-top: -5px;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/header-logo.png); 
}

.nav-logo:hover {
  color: var(--first-color);
}

.nav-toggle {
  cursor: pointer;
  font-size: 1.1em;
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav-toggle:hover {
  color: var(--first-color);
}

.nav-list {
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.nav-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--title-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.nav-link:hover {
  color: var(--first-color);
}

.nav-icon {
  font-size: 1.2rem;
}

.nav-close {
  right: 1.3rem;
  cursor: pointer;
  bottom: 0.5rem;
  font-size: 1.5rem;
  position: absolute;
  color: var(--first-color);
}

.nav-close:hover {
  color: var(--first-color-alt);
}

/*show-menu*/
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu {
    left: 0;
    width: 100%;
    transition: 3s;
    position: fixed;
    bottom: -200%;
    padding: 2rem 1.5rem 4rem;
    border-radius: 1.5rem 1.5rem 0 0;
    background-color: var(--body-color);
    box-shadow: 0 -1px 4px rgba(0, -0, 0, 0.15);
  }

  .nav-logo {
    margin-top: 9px;
  }

  .nav-toggle {
    margin-top: 10px;
  }
}

.show-menu {
  bottom: 0;
}


/*Seção Banner*/
#bannerEsquerdo {
  width: 76%;
  min-height: 85em;
  float: left;
  background-image: url(../img/fundo%20esquerdo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 25px 15px;
}

#containerDecoration {
  width: 100%;
  height: 21em;
  background-image: url(../img/cinta%20de%20video.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#bannerDireito {
  width: 24%;
  min-height: 85em;
  border-bottom: #000;
  float: left;
  background-image: url(../img/bannerDireito.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 25px 15px;
}

.imagemFundo {
  width: 100%;
  min-height: 58em;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#imagemBul {
  width: 9em;
  min-height: 12em;
  margin-bottom: 31em;
}

.imagemMario {
  width: 45em;
  height: 40em;
  margin-top: 3em;
  margin-left: 6em;
}

.imagemOdyssey {
  width: 40em;
  height: 23em;
  margin-left: 28em;
  margin-top: -12.5em;
}

/*Seção Site Index Oficial*/
#secao {
  width: 100%;
  height: 8em;
  border-bottom: 4px solid;
  border-color: #1c1b1b;
}

#textoOficialIndex {
  width: 77.4%;
  height: 5.4em;
  margin-top: 2.3em;
  float: left;
}

#textoOficialIndex h1 {
  padding-top: 1.3em;
  font-size: 19px;
  font-weight: 800;
  text-align: left;
  margin-left: 3.3em;
  padding-top: 5.8%;
  color: #d31a1d;
}

#textoOficialIndex p {
  padding-top: 1.2em;
  margin-left: 5em;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}

.imagemBolaDeFogo {
  width: 3.3em;
  height: 3.3em;
  position: absolute;
  top: 5.3em;
  left: 77.9%;
}

#imagemSwitch {
  width: 86.3px;
  height: 5.4em;
  position: absolute;
  margin-top: 3.1em;
}

.informations {
  width: 100%;
  height: 10em;
}

.Interborder {
  width: 15%;
  height: 9em;
  padding-top: 3%;
  padding-left: 2%;
  writing-mode: vertical-lr;
  float: left;
}

.Interborder:hover {
  cursor: pointer;
  color: #fff;
  background-color: #e95c49;
}

.Interborder h2 {
  font-size: 1.2em;
  font-weight: 100;
  color: #d31a1d;
}

.sobreInformations {
  width: 62%;
  height: 8em;
  float: left;
  margin-top: 3.5%;
  border-left: 5px solid;
  border-left-color: #d31a1d;
}

.sobreInformations p {
  padding: 1% 4%;
  font-weight: 700;
  word-spacing: 0px;
  font-size: 0.9em;
  text-align: left;
}

.sobreInformations h1 {
  padding: 2% 4%;
  font-weight: 800;
  font-size: 19.4px;
  text-align: left;
}

.positionImagem {
  width: 23%;
  height: 10em;
  float: left;
}

.positonDiritoImagem {
  width: 90%;
  height: 8em;
  margin-top: 13%;
}

/*Seção Detalhes*/
#instagram {
  width: 100%;
  height: 15em;
  margin-top: 5%;
  padding-top: 8%;
  border-top: 5px solid;
  border-color: #a3a469;
}

#imagemInstagram {
  width: 15%;
  height: 3.3em;
  margin-left: 5%;
  margin-top: 2%;
  float: left;
}

#instagram h1 {
  width: 80%;
  height: 3.3em;
  padding: 2% 3%;
  font-size: 33px;
  color: #023bc1;
  float: left;
}

#instagram a {
  font-weight: 600;
  font-size: 1.1em;
  margin-left: 5%;
  color: #d31a1d;
}

#instagram a:hover {
  cursor: pointer;
  color: #000;
}

#containerProtudos {
  width: 100%;
  height: 40em;
  clear: both;
}

.protudo {
  width: 31.3%;
  height: 25em;
  margin-top: 10%;
  padding: 1% 1%;
  box-shadow: 30px 30px 30px;
  margin-left: 1%;
  margin-right: 1%;
  float: left;
  background-color: #fff;
}

.imagemProtudo {
  width: 100%;
  height: 15em;
  border: 1.5px solid;
  border-color: #1c1c1c;
}

.protudoTexto {
  width: 100%;
  height: 7.4em;
}

.protudoTexto h2 {
  width: 100%;
  height: 1.3em;
  font-size: 1.6em;
  padding: 1% 1%;
  text-align: left;
}

.protudoTexto p {
  width: 100%;
  height: 5.5em;
  font-size: 15px;
  font-weight: 400;
  padding: 1% 1%;
  text-align: left;
  color: #343433;
}

/*=============== NEWSLETTER ===============*/
#cadastro {
  width: 100%;
  height: 30em;
  margin-top: 2%;
  border-top: 10px solid #999;
  border-top-style: dotted;
  background-image: url(../img/newsletter-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#cadastro form {
  margin-top: 2%;
}

#cadastro input {
  width: 60%;
  height: 5.2em;
  font-size: 1em;
  margin-left: 8%;
  margin-right: 2%;
  border-radius: 8px;
  border: 1px solid #130400;
  padding: 1%;
}

#cadastro button {
  width: 20%;
  border-radius: 8px;
  color: #130400;
  padding: 2%;
  cursor: pointer;
}

#imagemCadastro {
  width: 22%;
  height: 14em;
  position: relative;
  top: -125px;
  z-index: 2;
}

.cadastroTexto {
  width: 100%;
  height: 25em;
  margin-top: -185px;

  background-color: #023bc1;
}

.cadastroTexto h2 {
  height: 2em;
  color: #fff;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
}

.cadastroTexto h3 {
  height: 2em;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
}

#dinheiroImagem {
  position: absolute;
  top: 284%;
  left: 84%;
}


/*=============== FOOTER ===============*/
.footer{
  padding-top: 2rem;
}

.footer-container {
  row-gap: 3.5rem;
}

.footer-bg {
  padding: 2.3rem 0 3rem;
  background: linear-gradient(to right, #D3860D, #794C05);
}

.footer-socials {
  justify-self: center;
}

.footer-social {
  font-size: 2.25rem;
  margin-right: var(--mb-1-5);
  color: rgba(255, 255, 255, 0.7);
}

.footer-social:hover {
  color: var(--first-color-lighter);
}

.footer-copy {
  text-align: center;
  margin-top: var(--mb-1-5);
  color: var(--container-color);
  margin-bottom: var(--mb-3);
  font-size: var(--normal-font-size);
}

/*=============== SCROLL UP ===============*/
.scroll-up{
  right: 1rem;
  width: 45px;
  height: 60px;
  border: none;
  bottom: -20%;
  position: fixed;
  cursor: pointer;
  transition: 0.4s;
  z-index: var(--z-tooltip);
  background-size: cover;
  margin-bottom: (--mb-0-5);
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(../img/scroll-up.png); 
}

/*=============== Show Scroll ===============*/
.show-scroll {
  bottom: 5rem;
}


 /*=============== MEDIA QUERIES ===============*/
 @media screen and (max-width: 350px) {
  .container {
    margin-right: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav-menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav-list {
    column-gap: 0;
  }
}

/* For Medium devices */
@media screen and (min-width: 568px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

 @media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header,
  .main,
  .footer-container {
    padding: 0 1rem;
  }

  .nav {
    column-gap: 1rem;
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav-icon,
  .nav-close,
  .nav-toggle {
    display: none;
  }

  .nav-list {
    display: flex;
    column-gap: 2rem;
  }

  .nav-menu {
    margin-left: auto;
  }

  .change-theme {
    margin: 0;
  }

  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-bg {
    padding: 3rem 0 3.5rem;
  }

  .footer-copy {
    margin-top: 4.5rem;
  }
}

/* For Large Devices */
@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer-container {
    padding: 0;
  }
}
